<div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title"><i class="fa fa-cog"></i> Chuyển lịch trình cho tài xế</h4>
      </div>
      <div class="modal-body">
        <div class="form-group row clear">
            <label class="control-label" for="input-manufacturer"><span data-toggle="tooltip" title="{{ help_manufacturer }}">Tài xế</span></label>
            <input type="text" name="manufacturer" value="{{ manufacturer }}" placeholder="Văn phòng" id="input-manufacturer" class="form-control" />
            <input type="hidden" name="manufacturer_id" value="{{ manufacturer_id }}" />
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript"><!--
    // Manufacturer
    $('input[name=\'manufacturer\']').autocomplete({
        'source': function(request, response) {
            $.ajax({
                url: 'index.php?route=catalog/manufacturer/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request),
                dataType: 'json',
                success: function(json) {
                    json.unshift({
                        manufacturer_id: 0,
                        name: '{{ text_none }}'
                    });
    
                    response($.map(json, function(item) {
                        return {
                            label: item['name'],
                            value: item['manufacturer_id']
                        }
                    }));
                }
            });
        },
        'select': function(item) {
            $('input[name=\'manufacturer\']').val(item['label']);
            $('input[name=\'manufacturer_id\']').val(item['value']);
        }
    });
    //--></script> 
  <script type="text/javascript"><!--
  $('input[name=\'developer_theme\'], input[name=\'developer_sass\']').on('change', function() {
      $.ajax({
          url: 'index.php?route=common/developer/edit&user_token={{ user_token }}',		
          type: 'post',
          data: $('input[name=\'developer_theme\']:checked, input[name=\'developer_sass\']:checked'),
          dataType: 'json',
          beforeSend: function() {
              $('input[name=\'developer_theme\'], input[name=\'developer_sass\']').prop('disabled', true);
          },
          complete: function() {
              $('input[name=\'developer_theme\'], input[name=\'developer_sass\']').prop('disabled', false);
          },
          success: function(json) {
              $('.alert-dismissible').remove();
  
              if (json['error']) {
                  $('#modal-developer .modal-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
              }
  
              if (json['success']) {
                  $('#modal-developer .modal-body').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
              }			
          },
          error: function(xhr, ajaxOptions, thrownError) {
              alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
      });	
  });	
  
  $('#modal-developer table button').on('click', function() {
      var element = this;
      
      $.ajax({
          url: 'index.php?route=common/developer/' + $(element).attr('value') + '&user_token={{ user_token }}',		
          dataType: 'json',
          beforeSend: function() {
              $(element).button('loading');
          },
          complete: function() {
              $(element).button('reset');
          },
          success: function(json) {
              $('.alert-dismissible').remove();
  
              if (json['error']) {
                  $('#modal-developer .modal-body').prepend('<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> ' + json['error']['warning'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
              }
  
              if (json['success']) {
                  $('#modal-developer .modal-body').prepend('<div class="alert alert-success alert-dismissible"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
              }			
          },
          error: function(xhr, ajaxOptions, thrownError) {
              alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
          }
      });
  });
  //--></script>
  